<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="author" content="atari-monk">
  <meta name="description" content="Page of my tech wiki.">
  <title>Tech Wiki Web Page</title>
  <link rel="icon" href="../src/img/html5.png" type="image/x-icon">
  <link rel="stylesheet" href="../src/css/mobile.css" type="text/css">
  <link rel="stylesheet" href="../src/css/main.css" type="text/css">
  <script type="module" src="../src/js/script.js"></script>
</head>

<body>
  <header>
    <h1 class="title">Title</h1>
    <nav aria-label="primary-navigation">
      <ul>
        <li>
          <a id="main-css" href="#">Main</a>
          <a id="mobile-css" href="#">Mobile</a>
        </li>
        <li class="list-point">
          <a href="#notes">Notes</a>
        </li>
      </ul>
    </nav>
  </header>
  <hr>
  <main>
    <article id="notes">
      <h2>Notes</h2>
      <ol>
        <!-- paste notes here -->
      </ol>
    </article>
  </main>
  <hr>
  <footer>
    <p class="desc">
      &lt;&lt;&lt;
      <a href="https://github.com/atari-monk">atari-monk</a>
      &gt;&gt;&gt;
    </p>
    <p class="desc">
      <a href="#">Back to Top</a>
    </p>
  </footer>
</body>

</html>